<div class="card-container">
        <div class="card-section">
            <div class="card-items1">
                <div class="card1">
                    <!-- <img src="<%= '/images/uploads/' + user.posts[0].image %>" alt=""> -->
                    <!-- <img src="<%= '/images/uploads/' + user.posts[1].image %>" alt=""> -->
                </div>
                <h4>Your Uploaded File</h4>
                <!-- <h5>Card Count : <%= user.posts.length %></h5> -->
            </div>

            <div class="card-items2">
                <div class="card2">
                    <!-- <img src="/images/uploads/<%=user.posts[1].image%>" alt=""> -->
                </div>
                <h4>Card1 Details</h4>
                <!-- <h5>Card Count : <%= user.posts.length %></h5> -->
            </div>
        </div>
    </div>


    <!-- <img src="/images/uploads/<%= user.profileimg %>"> -->