<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="container">
    <div class="pinterest-logo"></div>
    <h1>Create New Account</h1>
    <form action="/register" method="post">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" placeholder="username">

      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="email">

      <label for="password">Password</label>
      <input type="password" name="password" id="password" placeholder="Create Password">

      <!-- <a href="/forgetpassword">Forgotten your password?</a> -->
      <button type="submit">Register</button>

      <p>By continuing, you agree to Pinterest's Terms of Service; Opens a new tab and acknowledge that you've read our Privacy Policy; Opens a new tab. Notice at collection; Opens a new tab.</p>
      <a href="/">Already on Pinterest? Login</a>
    </form>
  </div>
</body>
</html>
  